<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UserInformation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E81D9F1F1ECEBC490029D8E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E81D9F331ECEBC490029D8E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E81D9F3E1ECEBC490029D8E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
